<nav class="navbar navbar-light bg-primary navbar-fixed-top" >
    <div class="row container-fluid">
        <div class="col-sm-12">
            <div class="navbar-text pull-left" style="margin-left: 0px;">
                <a class="nav-text" href="../website/website-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right" style="margin-right: 0px;">
                <a class="nav-text" href="page-new.view.client.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand nav-text" href="#">
                    Pages
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-12"
         style="overflow-y: scroll;top: 0px;bottom: 0px;position: absolute;left: 0px;margin-top: 50px;padding-top: 15px;margin-bottom: 50px;">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    Blog Post
                </a>
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    Blogs
                </a>
                <a href="page-edit.view.client.html.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    Home
                </a>
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    About us
                </a>
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">
                    Contact us
                </a>
                <a href="page-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-light bg-primary navbar-fixed-bottom" >
    <div class="row container-fluid">
        <div class="col-sm-12">
            <div class="navbar-text pull-right" style="margin-right: 0px;">
                <a class="nav-text" href="../user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>