<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="HEADER">
        <ng-include src="'views/widget/editors/widget-heading-edit.view.client.html'">
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/editors/widget-image-edit.view.client.html'">
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/editors/widget-youtube-edit.view.client.html'">
    </div>
    <div ng-switch-when="HTML">
        <ng-include src="'views/widget/editors/widget-html-edit.view.client.html'">
    </div>
</div>
