
<nav class="navbar navbar-light bg-primary navbar-fixed-top" >
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-left" style="margin-left: 0px;">
                <a class="nav-text" href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand nav-text" href="#">
                    Widget Edit
                </a>
            </div>
            <div class="navbar-text pull-right" style="margin-left: 0px;">
                <a class="nav-text" href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-xs-12" style="margin-top: 35px;">
        <form>
            <div class="form-group">
                <label for="headerName">Name</label>
                <input type="text" class="form-control" id="headerName">
            </div>
            <div class="form-group">
                <label for="headerText">Text</label>
                <input type="text" class="form-control" id="headerText" value="US Senate reaches compromise on emerging market">
            </div>
            <div class="form-group">
                <label for="headerTextSize">Size</label>
                <input type="number" class="form-control" id="headerTextSize">
            </div>
            <a href="widget-list.view.client.html" class="btn btn-danger btn-block">Delete</a>
        </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" >
    <div class="row container-fluid">
        <div class="col-sm-12">
            <div class="navbar-text pull-right" style="margin-right: 0px;">
                <a href="../../user/templates/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>