
<nav class="navbar navbar-fixed-top navbar-light bg-primary" >
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="navbar-text pull-left" style="margin-left: 0px;">
                <a class="nav-text" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand nav-text" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                    Choose Widget
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid col-sm-12"  style="overflow-y: scroll;top: 0px;bottom: 0px;position: absolute;left: 0px;margin-top: 50px;padding-top: 15px;margin-bottom: 50px;">
    <ul class="list-group">
        <li ng-repeat="wtype in model.widgetTypes" class="list-group-item">
            <a ng-click="model.createWidget(wtype)">
                {{wtype}}
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-light bg-primary navbar-fixed-bottom" >
    <div class="row container-fluid">
        <div class="col-sm-12">
            <div class="navbar-text pull-right" style="margin-right: 0px;">
                <a class="nav-text" href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>