
<div class="container">
        <h1>Register</h1>
        <input type="text"
               class="form-control"
               placeholder="username"/>
        <input type="password"
               class="form-control"
               placeholder="password"/>
        <input type="password"
               class="form-control"
               placeholder="very password"/>
        <a class="btn btn-primary btn-block"
           href="profile.view.client.html">Register</a>
        <a class="btn btn-danger  btn-block"
           href="register.view.client.html">Cancel</a>
    </div>