<nav class="navbar navbar-fixed-top navbar-light bg-primary">
    <div class="container-fluid">
        <div class="col-sm-4">
            <div class="navbar-text pull-left">
                <a class="nav-text" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header hidden-xs">
                <a class="navbar-brand nav-text" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    Pages
                </a>
            </div>
            <div class="navbar-text pull-right hidden-xs">
                <a class="nav-text" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="navbar-header pull-left">
                <a class="navbar-brand nav-text" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">
                    Edit Page
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a class="nav-text" ng-click="model.updatePage(model.page)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="col-sm-4 hidden-xs">
        <ul class="list-group website-list">
            <li ng-repeat="page in model.pages" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>
                <div class="pull-right">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-8 website-list">
        <label for="page-name">Name</label>
        <input ng-model="model.page.name"
               placeholder="Page Name"
               value = "Blog Post"
               class="form-control"
               id="page-name"/>

        <label for="page-title">Title</label>
        <textarea ng-model="model.page.description"
                  placeholder="Page Title"
                  rows="3"
                  class="form-control"
                  id="page-title"></textarea>

        <a class="btn btn-danger  btn-block del-button"
           ng-click="model.deletePage()">Delete</a>
    </div>
</div>

<nav class="navbar navbar-light navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="nav-text" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>